Rakefile.cloud
pkg
.DS_Store
.irbrc
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/spec/fixtures/video/*
!/spec/fixtures/video/.keep
/tmp/
.idea
.vscode
# rspec failure tracking
.rspec_status
*.gem

Gemfile.lock
